/.phpunit.cache
/node_modules
/public/hot
/storage/*.key
/vendor

# macOS
.DS_Store
**/.DS_Store

# Built assets (dihasilkan oleh `npm run build`)
/public/build
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
